In [1]:

import pandas as pd
import numpy as np
import datetime 
import scipy.stats as ss

import warnings
warnings.filterwarnings('ignore')

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
# import pandas_datareader as pdr
import seaborn
from data_pre import *

import statsmodels.api as sm
from statsmodels.regression.rolling import RollingOLS

seaborn.set_style("darkgrid")
pd.plotting.register_matplotlib_converters()
%matplotlib inline
path="/Users/effiehan/Desktop/term4/swsc/fdr_ratios/"

# the resulted information covariate and alpha

In [3]:
fund= pd.read_csv(path+"date_scale/2017-03-01.csv",index_col = 0,parse_dates = True)
fund_list=fund["thscode"].values.tolist()

In [4]:
data_return=get_data_return(fund_list)
data_return.head()

,re000008OF,re000042OF,re000051OF,re000059OF,re000082OF,re000176OF,re000248OF,re000309OF,re000311OF,re000312OF,...,re590007OF,re660008OF,re660011OF,re673090OF,re673100OF,re690008OF,re700002OF,re740101OF,re960000OF,re960022OF
time,,,,,,,,,,,,,,,,,,,,,
2017/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017/05,-0.057333,0.002275,0.016319,-0.028689,-0.013559,0.003283,0.021996,-0.019608,0.000000,0.009458,...,-0.068519,0.017249,-0.058551,0.011369,0.020214,-0.034682,-0.034997,-0.021611,0.028308,0.009223
2017/06,0.054007,0.059872,0.053524,0.041139,0.067010,0.065794,0.080398,0.053889,0.073171,0.078413,...,-0.265076,0.053565,0.052220,0.054448,0.060897,0.068862,0.069174,0.064257,0.054373,0.056718
2017/07,0.025027,0.038038,0.026249,-0.043668,0.024155,0.036674,0.008890,-0.021613,0.039545,0.077143,...,0.005410,0.026081,0.024846,0.014833,0.023711,0.187675,0.018844,-0.012264,0.021568,0.023894
2017/08,0.026036,0.010860,0.023102,0.019917,0.025943,0.020810,0.033453,-0.012392,-0.135986,0.014237,...,0.017937,0.023086,0.024494,0.026126,0.021910,0.038915,0.020962,0.021968,0.023097,0.018286

In [5]:
scale=get_scale(fund_list)
scale.head()

,re000008OF,re000042OF,re000051OF,re000059OF,re000082OF,re000176OF,re000248OF,re000309OF,re000311OF,re000312OF,...,re590007OF,re660008OF,re660011OF,re673090OF,re673100OF,re690008OF,re700002OF,re740101OF,re960000OF,re960022OF
index,,,,,,,,,,,,,,,,,,,,,
2017/03,6.065517e+08,4.134298e+07,1.025410e+10,1.899890e+09,4.786958e+08,3.178681e+08,1.065149e+09,1.591271e+09,6.822302e+08,3.967159e+07,...,1.157213e+08,8.439368e+08,8.587366e+07,2.030534e+08,NaN,7.264292e+07,5.369871e+07,72287576.54,2.916527e+07,1004.90
2018/03,7.049000e+08,9.997033e+07,1.127768e+10,1.607113e+09,4.790760e+08,5.407535e+08,1.590938e+09,6.021448e+08,6.585114e+09,1.054959e+09,...,8.891929e+07,8.578915e+08,8.608715e+07,2.835097e+08,8.445405e+06,1.446648e+08,7.152934e+07,78821881.15,2.308040e+08,1251.17
2019/03,1.051111e+09,8.457767e+07,1.193953e+10,1.476153e+09,4.716614e+08,6.318441e+08,1.507815e+09,3.721621e+08,7.485640e+09,1.747119e+08,...,3.232234e+07,6.952341e+08,7.490768e+07,8.186027e+07,1.721147e+07,8.768202e+07,5.552866e+07,46861652.71,1.797123e+08,0.00
2020/03,2.080377e+09,5.478227e+08,1.611729e+10,1.908887e+09,5.926501e+08,1.280957e+09,2.959741e+09,4.075502e+08,9.493195e+09,2.892364e+08,...,3.617602e+07,8.458988e+08,1.025815e+08,1.269584e+08,3.623000e+07,8.365805e+07,8.335119e+07,52557751.57,2.023540e+08,0.00
2021/03,1.494809e+09,2.665642e+08,1.195546e+10,1.340923e+09,5.527080e+08,2.257560e+09,5.094775e+09,3.213716e+08,6.748530e+09,4.554831e+08,...,3.414530e+07,6.572922e+08,7.685375e+07,1.630148e+08,3.696997e+08,8.576047e+07,1.082581e+08,55199995.43,1.730329e+08,0.00

In [6]:
risk_free=get_rf()
risk_free.head()

               Rf
time
2017/04  0.001241
2017/05  0.001241
2017/06  0.001241
2017/07  0.001241
2017/08  0.001241

In [7]:
carhart=get_carhart()
carhart.head()

         RiskPremium       SMB       HML       UMD
time
2017/04    -0.019859 -0.050380  0.033696  0.039844
2017/05    -0.007867 -0.070990  0.058584  0.057481
2017/06     0.039231 -0.007903 -0.015935  0.013128
2017/07     0.037928 -0.026586  0.042615  0.016191
2017/08     0.026230 -0.000110 -0.006834 -0.019681

In [8]:
ff=get_ff()
ff.head()

               RF       MKT       SMB       HML
time
2017/04  0.002115 -0.020295 -0.048864  0.024355
2017/05  0.002431 -0.013433 -0.066862  0.033141
2017/06  0.002818  0.040133 -0.010628 -0.014630
2017/07  0.002482  0.030012 -0.005609  0.079270
2017/08  0.002729  0.026432 -0.000718 -0.013727

In [9]:
fund_size=get_fund_size(scale,"2020/03")
fund_size=fund_size.T
fund_size.to_csv(path+'cov/fund_size.csv')
fund_size.head()

index        2020/03
re000008OF  0.942805
re000042OF  2.294340
re000051OF  0.162506
re000059OF -0.284985
re000082OF -0.076170

In [10]:
return_gap=get_retrun_gap(data_return,"2020")
return_gap=return_gap.T
return_gap.to_csv(path+'cov/return_gap.csv')
return_gap.head()

             2020/03
re000008OF -0.005593
re000042OF -0.002352
re000051OF -0.001443
re000059OF  0.000877
re000082OF  0.000234

In [11]:
rsquare,alpha,vol,p=cal_carhart(data_return,carhart,risk_free,"2020/03")
rsquare=rsquare.T
rsquare.to_csv(path+'cov/rsquare.csv')
rsquare.head()

time         2020/03
re000008OF  0.915433
re000042OF  0.563445
re000051OF  0.979598
re000059OF  0.808385
re000082OF  0.604889

In [12]:
vol=vol.T
vol.to_csv(path+'cov/vol.csv')
vol.head()

time         2020/03
re000008OF  0.008585
re000042OF  0.041640
re000051OF  0.001488
re000059OF  0.022413
re000082OF  0.032491

In [13]:
alpha.to_csv(path+'cov/alpha.csv')
alpha=alpha.T
alpha.head()

time         2020/03
re000008OF -0.002015
re000042OF -0.004012
re000051OF  0.000798
re000059OF  0.001837
re000082OF -0.000814

In [14]:
p.to_csv(path+'cov/p_values.csv')
p=p.T

In [15]:
sharp= get_sharp(data_return, risk_free,"2020/04") ###no infor at march lag for one month 
sharp=sharp.T
sharp=sharp.rename(columns={"2020/04": "2020/03",}, errors="raise")
sharp.to_csv(path+'cov/sharp.csv')
sharp.head()

time         2020/03
re000008OF -0.080348
re000042OF -0.069631
re000051OF  0.098469
re000059OF  0.064585
re000082OF  0.042821

In [16]:
beta, treynor=cal_capm(data_return,ff,risk_free,"2020/03")
beta=beta.T
beta.to_csv(path+'cov/beta.csv')
beta.head()

time         2020/03
re000008OF  1.057359
re000042OF  0.861046
re000051OF  1.005090
re000059OF  0.860757
re000082OF  0.835531

In [17]:
treynor=treynor.T
treynor.to_csv(path+'cov/treynor.csv')
treynor.head()

time         2020/03
re000008OF -0.068875
re000042OF -0.058960
re000051OF -0.063795
re000059OF -0.006465
re000082OF -0.078121

In [18]:
fund_flow=get_fund_flow(scale,data_return,"2020")
fund_flow=fund_flow.T
fund_flow=fund_flow.rename(columns={"flow": "2020/03",}, errors="raise")
fund_flow.to_csv(path+'cov/fund_flow.csv')
fund_flow.head()

                2020/03
re000008OF          NaN
re000042OF   -53.815084
re000051OF  5221.642747
re000059OF     4.350037
re000082OF    17.897409

In [19]:
cov=[rsquare,fund_size,return_gap,fund_flow,sharp,treynor,beta,vol]
combo=[]
pos_alpha=alpha[alpha['2020/03'].values > 0]
for i in cov:
    i=i[i.index.isin(pos_alpha.index)]
    i['rank'] = i['2020/03'].rank(ascending=False)
    i=i[["rank"]]
    combo.append(i)

In [23]:
combo=[alpha]+[p]+combo
combo=pd.concat(combo, axis=1)
combo.columns=["alpha",'p','rsquare','fund_size','return_gap','fund_flow','sharp','treynor','beta','vol']
combo=combo.drop(combo[combo.index=="sum"].index)
combo

,alpha,p,rsquare,fund_size,return_gap,fund_flow,sharp,treynor,beta,vol
re000008OF,-0.002015,0.514675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
re000042OF,-0.004012,0.555729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
re000051OF,0.000798,0.535227,7.0,171.0,237.0,8.0,267.0,195.0,204.0,437.0
re000059OF,0.001837,0.713097,214.0,228.0,144.0,354.0,341.0,56.0,359.0,217.0
re000082OF,-0.000814,0.892299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
re690008OF,-0.002706,0.689850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
re700002OF,0.001465,0.633950,120.0,172.0,157.0,273.0,275.0,291.0,56.0,296.0
re740101OF,-0.002189,0.195956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
re960000OF,0.005507,0.074096,163.0,64.0,212.0,104.0,137.0,314.0,189.0,294.0
re960022OF,-0.004835,0.210238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
combo=combo.dropna()
combo

,alpha,p,rsquare,fund_size,return_gap,fund_flow,sharp,treynor,beta,vol
re000051OF,0.000798,0.535227,7.0,171.0,237.0,8.0,267.0,195.0,204.0,437.0
re000059OF,0.001837,0.713097,214.0,228.0,144.0,354.0,341.0,56.0,359.0,217.0
re000176OF,0.001912,0.161142,15.0,93.0,210.0,177.0,165.0,183.0,238.0,431.0
re000248OF,0.009495,0.187070,302.0,118.0,39.0,160.0,18.0,17.0,100.0,110.0
re000309OF,0.003354,0.485726,240.0,399.0,396.0,334.0,223.0,201.0,169.0,223.0
...,...,...,...,...,...,...,...,...,...,...
re585001OF,0.000156,0.971362,195.0,306.0,217.0,241.0,386.0,337.0,134.0,244.0
re660008OF,0.001171,0.372202,12.0,229.0,245.0,34.0,254.0,187.0,207.0,435.0
re673090OF,0.004308,0.418761,312.0,327.0,167.0,223.0,259.0,95.0,229.0,197.0
re700002OF,0.001465,0.633950,120.0,172.0,157.0,273.0,275.0,291.0,56.0,296.0
re960000OF,0.005507,0.074096,163.0,64.0,212.0,104.0,137.0,314.0,189.0,294.0

In [26]:
combo.to_csv(path+'cov/combo.csv')